*{
    padding: 0px;
    margin: 0px;
}

html, body{
    height: 100%;
    width: 100%;
}

/* #box{
    width: 40%;
    height:40%;
    background-color: lightgreen;
} */

/* #inn{
    width: 10%;
    height: 52%;
    background-color: yellow;
} */


/* #box{
    width: 40vw;
    height: 50vh;
    background-color: lightseagreen;

} */

/* #parents{ 
    height: 500px;
    width: 500px;
    background-color: rgb(36, 159, 212);
    font-size: 20px;
}
h1{
    font-size: 1em;
} */

h1{
    width: 20ch;
}